@font-face {
    font-family: "Graphik";
    src: url(../fonts/GraphikLCG-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Graphik-Semibold";
    src: url(../fonts/GraphikLCG-Semibold.ttf);
    font-weight: 600;
}

* {
    box-sizing: border-box;
}

.fix_size {
    max-width: 1290px;
    min-width: 320px;
    padding: 0 10px;
    margin: 0 auto;
}

.main_background {
    background: #E5E5E5;
}

.orange_background {
    background: #FF9C7D;
}

.yellow_background {
    background: #FFF8E4;
}

.blue_background {
    background: #C9E8F2;
}

.brown_background {
    background: #DABC98;
}

.container {    
    background: #E5E5E5;
    font-family: "Graphik";
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

.text_link {
    text-decoration: underline;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header */

.header_background {
    background: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;;
}

.header_section {
    padding: 25px 0;
}

.nav_list{
    width: 760px;
    justify-content: flex-start;
}

.nav_item {
    padding-right: 50px;
}

.nav_link {
    font-size: 15px;
    line-height: 20px;
}

.buttons {
    width: 250px;
}

.btn_link {
    width: 120px;
    height: 45px;
    border-style: none;
    font-family: "Graphik-Semibold";
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

.white_btn {
    border: 1px solid #00000080;
}

.orange_btn {
    background: #FF6336;
    color: #FFFFFF;
}

/* main */

.container-main {
    padding-top: 130px;
    padding-bottom: 170px;
}

.container-main__title {
    width: 540px;
    margin-bottom: 50px;
    font-family: "Graphik-Semibold";
    font-size: 65px;
    line-height: 70px;
}

.container-main__text {
    width: 470px;
    margin-bottom: 50px;
    font-size: 25px;
    line-height: 35px;
}

.main_img {
    width: 720px;
    height: 520px;
}

.btns_reverse{
    width: 330px;
    flex-direction: row-reverse;
    margin-bottom: 25px;
}

.medium_btn {
    width: 160px;
    height: 60px;
    line-height: 60px;
}

.content_subtext {
    font-size: 15px;
    line-height: 25px;
}

.companies_container {
    padding-top: 110px; 
    padding-bottom: 120px;
}

.companies_title {
    width: 720px;
    margin: 0 auto 90px auto;
    text-align: center;
}

/* info boxes */

.info_box {
    padding-top: 90px;
    padding-bottom: 150px;
}

.box_reverse {
    flex-direction: row-reverse;
}

.title_text {
    font-family: "Graphik-Semibold";
    font-size: 50px;
    line-height: 60px; 
}

.info_text {
    font-size: 20px;
    line-height: 30px;
}

.box_item {
    margin-bottom: 30px;
}

.info_img {
    width: 632px;
    height: 632px;
}

.info_link {
    font-family: "Graphik-Semibold";
    font-size: 20px;
    line-height: 30px;   
}

.first_box {
    width: 495px;
}

.second_box {
    width: 450px;
}

.third_box,
.fourth_box {
    width: 520px;
}

.code_img {
    height: 580px;
}

/* cards */

.cards_container {
    padding-top: 120px;
    padding-bottom: 70px;
}

.cards_title {
    text-align: center;
    margin-bottom: 80px;
}

.cards_box {
    align-items: flex-start;
    margin-bottom: 75px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
}

.card_headline {
    margin-bottom: 25px;
    font-family: "Graphik-Semibold";
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}

.card_text {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}

.card_img {
    margin-bottom: 25px;
}

.medium_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 410px;
}

.medium_card_img {
    height: 200px;
    margin-bottom: 50px;
}

.medium_card_headline {
    margin-bottom: 35px;
    font-family: "Graphik-Semibold";
    font-size: 30px;
    line-height: 40px;
}

.medium_card_text {
    margin-bottom: 25px;
}

/* blog */

.container-blog {
    align-items: flex-start;
    padding-top: 65px;
    padding-bottom: 105px;
}

.container-blog__content_text {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 40px;
}

.container-blog__content {
    width: 890px;
}

.container-blog__img {
    width: 310px;
    height: 310px;
}

/* raiting */

.container-rating {
    padding: 80px 0;
}

.container-rating__text {
    display: flex;
    align-items: center;
    width: 590px;
    height: 168px;
    border-right: 1px solid #000000;
    font-family: "Graphik-Semibold";
    font-size: 35px;
    line-height: 50px;
}

.container-rating__group {
    width: 340px;
}

.container-rating__items {
    display: flex;
    flex-direction: column;
}

.container-rating__items-logo {
    margin-bottom: 20px;
}

.container-rating__items-stars {
    width: 130px;
    margin-bottom: 15px;
}

.container-rating__items-subtext {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
}

/* integrate block */

.container-main-itegrate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-main__title-integrate {
    width: 770px;
    text-align: center;
    margin-bottom: 0;
}

.container-main__text-integrate {
    width: 540px;
    text-align: center;
    margin-bottom: 25px;
}

.container-main__img {
    margin-bottom: 30px;
}

.container-main__btn {
    width: 193px;
    height: 60px;
    line-height: 60px;
}

/* question */

.container-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 160px;
}

.container-question__title {
    width: 784px;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Graphik-Semibold";
    font-size: 65px;
    line-height: 75px;
}

.container-question__text {
    text-align: center;
    margin-bottom: 55px;
    font-size: 20px;
    line-height: 30px;
}

.black_btn {
    background: #000000;
    color: #FFFFFF;
}

/* footer */

.footer-container {
    padding: 95px 0;
    align-items: flex-start;
    border-bottom: 1px solid #000000;
}

.footer-container__article {
    display: flex;
    flex-direction: column;
}

.footer-container__article-title {
    margin-bottom: 30px;
    font-family: "Graphik-Semibold";
    font-size: 40px;
    line-height: 50px;
}

.footer-container__article-img {
    height: 300px;
    width: 300px;
    margin-bottom: 40px;
}

.footer-container__article-logo {
    height: 32px;
    width: 80px;
    margin-bottom: 10px;
}

.footer-container__text {
    margin-bottom: 15px;
    width: 300px;
}

.footer-container__nav {
    width: 850px;
    align-items: flex-start;
}

.footer-container__nav-list {
    width: 170px;
    display: flex;
    flex-direction: column;
}

.footer-container__nav-title {
    margin-bottom: 20px;
    font-family: "Graphik-Semibold";
    font-size: 20px;
    line-height: 25px;
}

.footer-container__nav-item {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 15px;
}

.footer-bottom {
    padding: 40px 0;
    font-size: 12px;
    line-height: 15px;
}

.footer-bottom__block {
    margin-right: 75px;
}

.footer-bottom__logo {
    margin-right: 15px;
}

.footer-bottom__text {
    width: 300px;
}



@media (max-width: 1290px) {    
    .header_section {
        flex-direction: column;
    }

    .header_logo {
        margin-bottom: 20px;
    }

    .nav_list{
        width: 750px;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    
    .nav_item {
        padding-right: 0;
    }
    
    .buttons {
        width: 650px;
    }
    
    .btn_link {
        width: 320px;
    }

    .container-main {
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 100px;
    }
    
    .container-main__title,
    .container-main__text {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .main_img {
        order: -1;
        width: 100%;
        height: 420px;
        margin-bottom: 30px;
    }
    
    .btns_reverse{
        width: 730px;
        margin: 0 auto 25px auto;
    }
    
    .medium_btn {
        width: 360px;
    }
    
    .content_subtext {
        text-align: center;
    }

    .companies_container {
        padding-top: 70px; 
        padding-bottom: 80px;
    }
    
    .companies_title {
        width: 700px;
        margin: 0 auto 50px auto;
        text-align: center;
    }

    .title_text {
        font-size: 40px;
        line-height: 50px; 
    }

    .companies_logo {
        height: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .logo_padding {
        padding: 10px;
    }

    .info_box {
        padding-top: 60px;
        padding-bottom: 120px;
    }
    
    .info_img {
        width: 450px;
        height: 450px;
    }
    
    .first_box,
    .third_box{
        margin-right: 20px ;
        width: 100%;
    }

    .second_box,
    .fourth_box {
        margin-left: 20px;
        width: 100%;
    }

    .code_img {
        height: 400px;
    }
    
    .cards_container {
        padding-top: 90px;
        padding-bottom: 60px;
    }
    
    .cards_title {
        margin-bottom: 60px;
    }
    
    .cards_box {
        margin-bottom: 55px;
    }
    
    .card,
    .medium_card {
        margin-right: 20px;
    }
    
    .card:last-of-type,
    .medium_card:last-of-type {
        margin-right: 0;
    }

    .container-blog {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .container-blog__content {
        text-align: center;
        width: 100%;
    }
    
    .container-blog__img {
        order: -1;
        margin-bottom: 30px;
    }
    
    .container-rating {
        flex-direction: column;
    }

    .container-rating__text {
        margin-bottom: 30px;
        text-align: center;
        border-right: none;
        border-bottom: 1px solid #000000;
    }

    .container-main__title-integrate {
        margin-bottom: 0;
    }

    .container-main__img {
        width: 100%;
    }

    .container-question {
        padding-top: 100px;
        padding-bottom: 130px;
    }
    
    .container-question__title {
        width: 770px;
    }

    .footer-container {
        padding: 75px 0;
        flex-direction: column;
        align-items: center;
    }

    .footer-container__article {
        margin-bottom: 40px;
    }

    .footer-container__nav {
        width: 100%;
    }
}



@media (max-width: 770px) {
    .nav_list {
        width: 480px;
    }

    .buttons {
        width: 450px;
    }
    
    .btn_link {
        width: 220px;
    }

    .container-main {
        padding-top: 40px;
        padding-bottom: 70px;
    }

    .container-main__title {
        font-size: 45px;
        line-height: 50px;
    }

    .container-main__text {
        font-size: 20px;
        line-height: 25px;
    }

    .companies_container {
        padding-top: 50px; 
        padding-bottom: 60px;
    }
    
    .companies_title {
        width: 100%;
        margin-bottom: 30px;
    }

    .title_text {
        font-size: 30px;
        line-height: 40px; 
    }

    .info_box {
        flex-direction: column;
        padding: 40px 0;
    }

    .box_item {
        width: 100%;
        margin-bottom: 30px;
    }
    
    .info_img,
    .code_box {
        order: -1;
        margin-bottom: 30px;
    }
    
    .first_box,
    .third_box,
    .second_box,
    .fourth_box {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .cards_container {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    
    .cards_title {
        margin-bottom: 40px;
    }

    .card_headline{
        font-size: 20px;
        line-height: 30px;
    }

    .card_text {
        font-size: 15px;
        line-height: 20px;
    }
    
    .cards_box {
        margin-bottom: 35px;
    }

    .card_img {
        width: 100%;
    }

    .medium_cards_box {
        flex-direction: column;
    }

    .medium_card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .medium_card_img {
        margin-bottom: 30px;
    }
    
    .medium_card_headline {
        margin-bottom: 25px;
        font-size: 25px;
        line-height: 30px;
    }
    
    .medium_card_text {
        margin-bottom: 20px;
    }

    .card:last-of-type,
    .medium_card:last-of-type {
        margin-bottom: 0;
    }
    
    .container-blog {
        padding-top: 45px;
        padding-bottom: 85px;
    }
    
    .container-blog__content_text {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 30px;
    }

    .container-rating {
        padding: 50px 0;
    }
    
    .container-rating__text {
        width: 480px;
        font-size: 25px;
        line-height: 40px;
    }
    
    .container-rating__group {
        width: 340px;
    }

    .container-question {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    
    .container-question__title {
        width: 100%;
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 50px;
    }
    
    .container-question__text {
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 30px;
    }

    .footer-container__nav {
        flex-wrap: wrap;
    }

    .footer-bottom,
    .footer-bottom__info {
        flex-direction: column;
    }

    .footer-bottom__logo,
    .footer-bottom__block,
    .footer-bottom__text {
        margin-right: 0;
        text-align: center;
    }

    .footer-bottom__logo,
    .footer-bottom__info {
        margin-bottom: 10px;
    }  
}

@media (max-width: 500px) {
    .nav_list {
        width: 300px;
        flex-direction: column;
    }

    .nav_item {
        margin-bottom: 15px;
    }

    .buttons {
        height: 100px;
        width: 100%;
        flex-direction: column;
    }

    .container-main {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .main_img {
        height: 320px;
    }

    .container-main__title {
        font-size: 35px;
        line-height: 40px;
    }

    .container-main__text {
        font-size: 15px;
        line-height: 20px;
    }

    .btns_reverse {
        flex-direction: column;
        width: 100%;
        height: 100px;
        margin-bottom: 15px;    
    }
    
    .medium_btn {
        width: 220px;
        height: 45px;
        line-height: 45px;
    }
    
    .content_subtext {
        font-size: 10px;
        line-height: 15px;
    }
    
    .info_box {
        padding: 30px 0;
    }
    
    .info_text {
        font-size: 15px;
        line-height: 20px;
    }
    
    .box_item {
        margin-bottom: 20px;
    }
    
    .info_img {
        width: 320px;
        height: 320px;
    }

    .info_link {
        font-size: 15px;
        line-height: 20px;   
    }

    .code_img {
        height: 300px;
    }
    
    .cards_container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .cards_title {
        margin-bottom: 30px;
    }
    
    .cards_box {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .card_img {
        width: auto;
    }

    .container-rating__text {
        width: 300px;
    }
    
    .container-rating__group {
        width: 300px;
    }

    .container-question {
        padding-top: 60px;
        padding-bottom: 80px;
    } 
}